#project-thumbs {
  margin-top: 3rem; }

  #about {
    margin-top:4rem;
    margin-bottom: 4rem; }


.project-thumb {
  width:48%;
  margin-right: 3.4%;
  margin-bottom: 2rem;
  display: inline-block !important; }
  .project-thumb:nth-child(even) {
    margin-right: 0; }
  .project-thumb img {
    width:100%;
    max-width: 1000px; }
  .project-thumb h4 {
    margin-top: 0.4rem; }
  .project-thumb p {
    margin-top: 0; }

@media screen and (max-width: 64em) {
  .project-thumb {
    width: 100%;
    margin-right: 0; } }
